.App {
  text-align: center;
}

.prenom{
  display: inline;
}

.nom{
  margin-left: 350px;
  display: inline;
}

img {
  
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;

  display: block;
  
  -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:150px;
    width:170px;
    height:170px;

}

.profil{
  margin-right: 300px;
  margin-left: 300px;

  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 60px;
  padding-left: 60px;

  border: 2px solid black;
  font-family:arial, sans-serif;
  font-weight: bold;


} 

.super {
  border-style: solid;
  border-width: 2px;
  margin-right: 300px;
  margin-left: 300px;
  margin-bottom: 40px;
  margin-top: 40px;

  padding-right: 60px;
  padding-left: 60px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-family:arial, sans-serif;  
  font-weight: bold;


}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
